$background: #ebf2f0;
$service: #FFFFFF;
$service-hover: #f6ffff;
$body-black: #212221;
body {
	background-color:$background;
	color:$body-black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.contact {
	align-items:center;
	&__message {
		cursor:pointer;
	}
	&__phone {
		margin-right:1em;
	}
}
.container-margins {
	margin:0 auto;
	max-width:60em;
	position:relative;
}
.flex-column {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	&-center {
		@extend .flex-column;
		align-items: center;
		&-center {
		@extend .flex-column-center;			
			justify-content:center;
		}

	}
}
.flex-row {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	&-center {
		@extend .flex-row;
		justify-content: center;
		&-center {
			@extend .flex-column-center;			
			align-items:center;
		}
	}
	&-reverse {
		@extend .flex-row;
		flex-direction:row-reverse;
	}
}
.header {
	margin-top:2em;
	width:100%;
	&__items {
		justify-content: flex-start;
		align-items:center;
		&__item {
			margin:1em;
			&--active {
				@extend .header__items__item;
				border-bottom:1px solid $body-black;
			}
		}
	}
	&__logo {
		align-items:center;
		&__main {
			margin-right:.5em;
			text-decoration: underline;
		}
		&__support {

		}
	}
}

.message-form {	
	bottom:0;	
	display:block;
	overflow:hidden;
	position:fixed;
	top:0;
	transition:.5s;	
	width:0px;
	background:$service;
	&--active {
		transition:.5s;
		width:30em;
		display:block;
	}
	&__exit {
		cursor:pointer;
		i {
			font-size:3em;
		}
		justify-content: flex-end;
	}
	&__form {
		margin-top:20%;
		form {
			background-color:$background;
			padding:1em;
		}
		&__item {
			align-items:center;
			i {
				position:relative;
				top:.2em;
			}
		}
		input,textarea {
			padding:.5em;
			border:2px dashed $body-black;
		}
		textarea {
			width:25em;
		}
	}
}

.services {
	margin-bottom:1em;
	margin-top:1em;
	i {
		font-size:8em;
		margin-bottom:.1em;		
	}
	&__service {
		background-color:$service;
		border:2px dashed $body-black;
		margin:1rem;
		padding:1rem;
		flex-basis:15em;
		&--contact {
			@extend .services__service;
			cursor:pointer;
		}
		&:hover {
			border:2px dashed black;
			color:black;
		}
	}
}


